@import "reset.css";

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/medium-500.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/bold-700.woff2) format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-main: 'Raleway', sans-serif;
    --color-bg: #f4f6f5;
    --color-bg-green: #e1ede6;
    --color-white: #fff;
    --color-gray: #86928b;
    --color-dark: #2c2d35;
    --color-green: #598d66;
    --color-green-light: #d4e8d9;
    --color-green-dark: #376b44;
    --color-gold: #eedb6d;
    --color-gold-light: #faeb97;
    --color-gold-dark: #d9b949;
}

/*---------------BODY---------------*/

body {
    font-family: var(--font-main);
    color: var(--color-dark);
    background: var(--color-bg);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

main {
    flex: 1 1 auto;
}

/*---------------HEADER---------------*/

