@import "reset.css";

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/medium-500.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/bold-700.woff2) format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-main: 'Raleway', sans-serif;
    --color-bg: #f4f6f5;
    --color-bg-green: #e1ede6;
    --color-white: #fff;
    --color-gray: #86928b;
    --color-dark: #2c2d35;
    --color-green: #598d66;
    --color-green-light: #d4e8d9;
    --color-green-dark: #376b44;
    --color-gold: #eedb6d;
    --color-gold-light: #faeb97;
    --color-gold-dark: #d9b949;
}

/*---------------BODY---------------*/

body {
    font-family: var(--font-main);
    font-size: 18px;     
	font-weight: 500;    
    color: var(--color-dark);
    background: var(--color-bg);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

main {
    flex: 1 1 auto;
}

/*---------------HEADER---------------*/

.header {
    position: sticky;
    top: 0;
    z-index: 50;
    background: var(--color-bg-green);
}

.header__row {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:  center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo-icon {
}

.header__logo-text {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-green);
}

.header__menu {
}

.menu {
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 60px;
}

.menu__item {
}

.menu__link {
    font-size: 20px;
}

.menu__link--cart {
}

.menu__cart-icon {
}